# Залежності та тимчасові файли
node_modules/
.DS_Store
Thumbs.db

# Логи та тимчасові файли
*.log
*.tmp
*.temp

# Налаштування середовища
.env
firebase-config.js

# Папки редакторів
.vscode/
.idea/
*.sublime-*

# Старі файли (якщо хочеш ігнорувати старі версії)
old/
backup/